<!DOCTYPE html>
<html lang="en">
<head>
	<title>User List</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/mystyle.css">
</head>

<body data-spy="scroll" data-offset="60" data-target="#myNavbar">
    <nav id="myNavbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">User List</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="#section1" class="nav-link">Section 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section2" class="nav-link">Section 2</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section3" class="nav-link">Section 3</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#section4" class="nav-link">Section 4</a>
                        
                    </li>
                    <li>
                        <a href="#section5" class="nav-link">Section 5</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="defcontent">
            <br>
            <div class='chfont container'>

                <table name="mytable">
                    <tr style="background: linear-gradient(to top, white, lightblue); border-padding:20px;">
                        <th style= "padding:20px" name="id">ID</th>
                        <th style= "padding:20px" name="username">Username</th>
                        <th style= "padding:20px" name="firstname">First name</th>
                        <th style= "padding:20px" name="lastname">Last Name</th>
                        <th style= "padding:20px" name="balance">Balance</th>
                        <th style= "padding:20px" name="balance">Type</th>

                    </tr>
                    
                    <p>{{#each result}}
                            <tr>
                                <td style= "padding:20px">{{this._id}}</td>
                                <td style= "padding:20px">{{this.username}}</td>
                                <td style= "padding:20px">{{this.firstname}}</td>
                                <td style= "padding:20px">{{this.lastname}}</td>
                                <td style= "padding:20px">{{this.cash2}}</td>
                                <td style= "padding:20px">{{this.type}}</td>
                            </tr>
                    {{/each}}</p>

                </table>

            </div>

        </div>           




	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>